In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('loan_train.csv')

In [3]:
data['LoanAmount']=data['LoanAmount'].fillna(data['LoanAmount'].mean())
data['Credit_History']=data['Credit_History'].fillna(data['Credit_History'].median())

In [4]:
data.dropna(inplace=True)

In [5]:
data2=data.drop(['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Loan_ID','Self_Employed','Dependents','Education'],axis=1)

In [6]:
data2

     Gender Married  Credit_History Property_Area Loan_Status
0      Male      No             1.0         Urban           Y
1      Male     Yes             1.0         Rural           N
2      Male     Yes             1.0         Urban           Y
3      Male     Yes             1.0         Urban           Y
4      Male      No             1.0         Urban           Y
..      ...     ...             ...           ...         ...
609  Female      No             1.0         Rural           Y
610    Male     Yes             1.0         Rural           Y
611    Male     Yes             1.0         Urban           Y
612    Male     Yes             1.0         Urban           Y
613  Female      No             0.0     Semiurban           N

[542 rows x 5 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [8]:
cols=list(data2.columns)
cols.remove('Credit_History')

In [9]:
mapping_dict = {}
for col in cols:
    data2[col]=le.fit_transform(data2[col])
    le_name_mapping = dict(zip(le.classes_,
                               le.transform(le.classes_)))
    mapping_dict[col] = le_name_mapping
print(mapping_dict)

{'Gender': {'Female': 0, 'Male': 1}, 'Married': {'No': 0, 'Yes': 1}, 'Property_Area': {'Rural': 0, 'Semiurban': 1, 'Urban': 2}, 'Loan_Status': {'N': 0, 'Y': 1}}

In [10]:
X=data2.drop(["Loan_Status"],axis=1)
y=data2["Loan_Status"]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [12]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()

In [14]:
dt.fit(X_train,y_train)
dt_predict=dt.predict(X_test)

In [15]:
from sklearn import metrics

In [16]:
print(metrics.classification_report(y_test,dt_predict))

              precision    recall  f1-score   support

           0       0.89      0.45      0.60        38
           1       0.77      0.97      0.86        71

    accuracy                           0.79       109
   macro avg       0.83      0.71      0.73       109
weighted avg       0.81      0.79      0.77       109

In [17]:
tn, fp, fn, tp=metrics.confusion_matrix(y_test,dt_predict).ravel()
tn, fp, fn, tp

(17, 21, 2, 69)

In [18]:
metrics.confusion_matrix(y_test,dt_predict)

array([[17, 21],
       [ 2, 69]], dtype=int64)

In [19]:
import pickle

In [21]:
filename = 'laon-approval-prediction-dt-model.pkl'
pickle.dump(dt, open(filename, 'wb'))

In [22]:
pip install flask

Collecting flask
  Downloading Flask-2.2.2-py3-none-any.whl (101 kB)
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Requirement already satisfied: importlib-metadata>=3.6.0; python_version < "3.10" in c:\users\dell\appdata\local\programs\python\python38\lib\site-packages (from flask) (4.11.3)
Requirement already satisfied: Jinja2>=3.0 in c:\users\dell\appdata\local\programs\python\python38\lib\site-packages (from flask) (3.0.3)
Collecting Werkzeug>=2.2.2
  Using cached Werkzeug-2.2.2-py3-none-any.whl (232 kB)
Requirement already satisfied: click>=8.0 in c:\users\dell\appdata\local\programs\python\python38\lib\site-packages (from flask) (8.0.3)
Requirement already satisfied: zipp>=0.5 in c:\users\dell\appdata\local\programs\python\python38\lib\site-packages (from importlib-metadata>=3.6.0; python_version < "3.10"->flask) (3.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\dell\appdata\local\programs\python\python38\lib\site-packages (from Jinja2>=3.0->flask) (2.0.1)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\dell\appdata\local\programs\python\python38\lib\site-packages (from click>=8.0->flask) (0.4.4)
Installing collected packages: itsdangerous, Werkzeug, flask
Successfully installed Werkzeug-2.2.2 flask-2.2.2 itsdangerous-2.1.2
Note: you may need to restart the kernel to use updated packages.

ERROR: werkzeug 2.2.2 has requirement MarkupSafe>=2.1.1, but you'll have markupsafe 2.0.1 which is incompatible.
WARNING: You are using pip version 20.1.1; however, version 22.3 is available.
You should consider upgrading via the 'c:\users\dell\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.